/* GLOBALS */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family:arial;
}
img {
    max-width: 100%;
    margin:10px 0;
}
a {
    text-decoration: none;
    color: black;
}

h1, h2, h3{
    margin-bottom: 20px;
}

p {
    margin:20px 0;
    line-height: 1.5;
}
/* UTILITIES */

/* header */
.site-init {
    height: 400px;
    background-image: url(img/banner.jpg);
    background-position: center center;
    background-size: cover;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
.site-init > h2{
    padding-top:150px;
}


/* main-content */
.container{
    width: 55%;
    margin-right:auto;
    margin-left: auto;
}
section{
    width:70%;
    float:left;
}
aside {
    width:27%;
    float:right;
    margin-left:3%;
}

/* main-content > section */
section > div > p{
    text-align:justify;
}
.btn-read{
    display:block;
    width:100px;
    background-color: black;
    color: white;
    padding: 15px;
    text-align:center;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight:bold;
}

/* main-content > aside */
.aside-element > h3{
    margin-bottom:20px;
    line-height:1.5;
}
.aside-element > p,a{
    margin-bottom:10px;
}
hr{
    margin: 20px 0px;
}
.btn-more-info{
    display:block;
    width:auto;
    background-color: saddlebrown;
    color: white;
    padding: 15px;
    text-align:center;
    margin-bottom: 20px;
    display: inline-block;
    text-transform: uppercase;
    font-weight:bold;
}




/* footer */
footer {
    position:relative;
    clear: both;
    height:70px;
    background-color: black;
    padding-top:20px;
}

/* menu (used at header & footer) */
.site-menu{
    color:white;
    width:55%;
    margin-right:auto;
    margin-left:auto;
}
.menu-title{
    margin-top:auto;
    margin-top:auto;
    float:left;
}
.menu{
    margin-top:20px;
    float:right;
}
.menu-title > .coffee-strong{
    font-weight:bolder;
}
.menu-title > .coffee-light{
    font-weight:lighter;
}

.menu > a{
    color:white;
    margin:15px;
}